body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 20px;
    background-color: lightgray;
}

.content {
    margin-top: 6.5vh;
}

.section {
    width: 100%;
    height: fit-content;
}

div {
    display: inherit;
}